faster-whisper @ https://github.com/guillaumekln/faster-whisper/archive/refs/heads/master.tar.gz
numpy==1.23.0
cmake
tqdm==4.65.0
scipy==1.10.1
langdetect==1.0.9
Cython==0.29.21
librosa==0.8.0
matplotlib==3.3.1
phonemizer==2.2.1
tensorboard
#torch==1.6.0
#torchvision==0.7.0
Unidecode==1.1.1
pyopenjtalk
jamo==0.4.1
pypinyin==0.44.0
jieba==0.42.1
protobuf==3.19.0
cn2an==0.5.17
ipython
g2pk2
ko_pron
inflect